* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 5px #888888;
    position: relative;
    min-width: 40vw;
    max-width: 90vw;
}

form input,
textarea,
button {
    outline: none;
    border: none;
}

form input {
    margin-bottom: 5%;
}

form button {
    width: 10%;
    border-radius: 50%;
    background-color: yellow;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    bottom: -1rem;
    right: 0.5rem;
}

form button:hover {
    color: black;
    background-color: rgb(228, 228, 55);
}